@page
@model EditModel

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Банк</h4>
<hr />
@{
    if (Model.ValidationDictionary != null && !Model.ValidationDictionary.IsValid)
    {
        <ul class="list-group-item-danger">Ошибки при обновлении данных:</ul>
        foreach (var error in Model.ValidationDictionary.ErrorDictioanry)
        {
            <li class="list-group-item-danger">@error.Key: @error.Value</li>
        }
    }
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Реквизиты банка</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankModel.Id" />
            <div class="form-group">
                <label asp-for="BankModel.Name" class="control-label"></label>
                <input asp-for="BankModel.Name" class="form-control" />
                <span asp-validation-for="BankModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.SwiftCode" class="control-label"></label>
                <input asp-for="BankModel.SwiftCode" class="form-control" />
                <span asp-validation-for="BankModel.SwiftCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.BankUrl" class="control-label"></label>
                <input asp-for="BankModel.BankUrl" class="form-control" />
                <span asp-validation-for="BankModel.BankUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.RatesUrl" class="control-label"></label>
                <input asp-for="BankModel.RatesUrl" class="form-control" />
                <span asp-validation-for="BankModel.RatesUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.CurrencyId" class="control-label"></label>
                <select asp-for="BankModel.CurrencyId" class="form-control" asp-items="@Model.CurrencySelectList"></select>
                <span asp-validation-for="BankModel.CurrencyId" class="text-danger"></span>
            </div>
            <h4> Настройки парсинга банка</h4>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.TextCodeXpath" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.TextCodeXpath" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.TextCodeXpath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.ExchangeRateXpath" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.ExchangeRateXpath" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.ExchangeRateXpath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.UnitXpath" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.UnitXpath" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.UnitXpath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.VariablePartOfXpath" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.VariablePartOfXpath" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.VariablePartOfXpath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.StartXpathRow" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.StartXpathRow" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.StartXpathRow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.EndXpathRow" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.EndXpathRow" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.EndXpathRow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.NumberDecimalSeparator" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.NumberDecimalSeparator" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.NumberDecimalSeparator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankModel.ParsingSettings.NumberGroupSeparator" class="control-label"></label>
                <input asp-for="BankModel.ParsingSettings.NumberGroupSeparator" class="form-control" />
                <span asp-validation-for="BankModel.ParsingSettings.NumberGroupSeparator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку</a>
</div>

@section Scripts {
    @*{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
